services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: 1234
    volumes:
      - db:/var/lib/postgresql
    ports:
      - 5432:5432
volumes:
  db:
